.popup-form {
  z-index: 2;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}

.popup__submit-button,
.popup-form__start-button {
  margin: auto;
  padding: 5px 20px;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

.bg {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.bg_open {
  display: block;
}

.input {
  margin: 15px;
  padding: 5px 5px;
  display: block;
}

.popup__box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  align-content: center;
}
.popup__input {
  margin: 0 5px 5px 0;
  padding: 5px;
  display: block;
}
.popup {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  border: 5px solid white;
  border-radius: 15px;
  background-color: white;
  width: calc(100% - 10px);
}

.hidden {
  display: none;
}

.user-container {
  text-align: center;
  border: 5px solid black;
  border-radius: 15px;
  background-color: white;
  width: calc(100% - 10px);
  padding-bottom: 5px;
}
.popup__header,
.user-container__header {
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-container__content {
  overflow-wrap: break-word;
}

body {
  font-family: Arial;
}
/* @media (min-width: 340px) {
  body {
    background-color: yellow;
  }
}

@media (min-width: 800px) {
  body {
    background-color: tomato;
  }
}
@media (min-width: 150px) {
  body {
    background-color: wheat;
  }
} */
/* от */

@media screen and (min-width: 450px) {
  .popup__box {
    flex-direction: row;
    /* align-content: center; */
    justify-content: center;
  }
}
