.button {
  margin: 15px auto;
  padding: 5px 20px;
  display: block;
}
.hidden {
  display: none;
}

.popup {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  /* разобраться с шириной */
  outline: 2px solid black;
}
/* start-button и popup можно расположить вообще в одном блоке? */
